<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{nombreLista | placeHolder:'New List'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Create a list
    </ion-card-header>

    <ion-card-content>
      <ion-list no-lines>

        <ion-item>
          <ion-label floating>Name of the List</ion-label>
          <ion-input type="text" [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Item</ion-label>
          <ion-input type="text" [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
        </ion-item>

      </ion-list>
      <button (click)='addItem()' ion-button full>Add Item</button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="items.length > 0">
    <ion-card-header>
      List of elements
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item *ngFor="let item of items; let i = index">
          <h1> {{item.nombre}} </h1>
          <button (click)='suprItem(i)' ion-button outline item-right> Suppr Item </button>
        </ion-item>

      </ion-list>
      <button (click)='addList()' ion-button full> Add the list </button>

    </ion-card-content>
  </ion-card>





</ion-content>
