<ion-header>
  <ion-navbar color="primary">
    <ion-title>Page List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="( _listaDeseos.listas | pendientes ).length === 0">
  <ion-card-header>
    <h2>My List</h2>
  </ion-card-header>
  <ion-card-content>
    There are any list in this app . You have to complete add list with the button !!!
  </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let item of _listaDeseos.listas | pendientes; let i = index" >
    <ion-item (click)='showDetail(item,i)'>
      <h2>{{item.nombre}}</h2> <!-- item.terminada pour check si complet-->
      <ion-note item-right>
        {{ item.items.length }} items
      </ion-note>
    </ion-item>


      <ion-list no-lines>
        <ion-item (click)='showDetail(item,i)'
            *ngFor="let item1 of item.items">
          <ion-icon item-left *ngIf="!item1.completado" ios="ios-square-outline" md="md-square-outline">  </ion-icon>
          <ion-icon item-left *ngIf="item1.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"> </ion-icon>
          <h2 [class.tiret]="item1.completado">{{item1.nombre}}</h2>
        </ion-item>
      </ion-list>

  </ion-card>

  <ion-fab right bottom>
    <button (click)='goToAddPage()' ion-fab color="primary">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
