<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ lista.nombre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>Name of the list</ion-label>
        <ion-input type="text" [(ngModel)]="lista.nombre"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of lista.items" (click)="actualiserItem(item)">
          <ion-icon item-left *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"> </ion-icon>
          <ion-icon item-left *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"> </ion-icon>
          <h2 [class.tiret]="item.completado">{{item.nombre}}</h2>
        </ion-item>
      </ion-list>

    </ion-card-content>
</ion-card>

<button (click)='deleteListe()' ion-button class="button-block" color="danger">Delete the list</button>

</ion-content>
