<ion-header>
  <ion-navbar color="primary">
    <ion-title>Finish List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="( _listaDeseos.listas | pendientes:true ).length === 0">
  <ion-card-header>
    <h2>My Finished List</h2>
  </ion-card-header>
  <ion-card-content>
    There are any finished list in this app . You have to complete them !!!
  </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let item of _listaDeseos.listas | pendientes:true ; let i = index" >
    <ion-item (click)='showDetail(item,i)'>
      <h2>{{item.nombre}}</h2> <!-- item.terminada pour check si complet-->
      <ion-note item-right>
        {{ item.items.length }} items
      </ion-note>
    </ion-item>


      <ion-list no-lines>
        <ion-item (click)='showDetail(item,i)'
            *ngFor="let item1 of item.items">
          <ion-icon item-left *ngIf="!item1.completado" ios="ios-square-outline" md="md-square-outline">  </ion-icon>
          <ion-icon item-left *ngIf="item1.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"> </ion-icon>
          <h2 [class.tiret]="item1.completado">{{item1.nombre}}</h2>
        </ion-item>
      </ion-list>

  </ion-card>


</ion-content>
